@import "colors";

*{ 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    padding: 0;
    background: $darkBlue;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0; 
	padding: 0; 
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.headerMain {
    width: auto;
    height: 89px;
    background: $lighterBlue;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.headerContainer i {
    font-size: 30px;
    color: $greyColor;
    text-align: center;
    line-height: 140%;
}

.searchIcon {
    border-radius: 25px;
    background: $darkBlue;
    width: 143px;
    height: 40px;
}

.plusIcon {
    background: $darkBlue;
    width: 40px;
    height: 40px;
}

.title {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}

.stonksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stonkItem {
    width: 311px;
    height: 175px;
    background: $lighterBlue;
    margin: 22px;
    justify-content: center;
}

.stonkTitle {
    color: white;
    text-align: center;
    font-weight: 300;
}

.stonkArrow i {
    position: absolute;
    top: 10%;
}