@import "colors";

@mixin centerWhiteText(){
    text-align: center;
    color: white;
}

*{ 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    padding: 0;
    background: $darkBlue;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0; 
	padding: 0; 
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.headerMain {
    width: auto;
    height: 89px;
    background: $lighterBlue;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.headerContainer i {
    font-size: 30px;
    color: $greyColor;
    text-align: center;
    line-height: 140%;
}

.searchIcon {
    border-radius: 25px;
    background: $darkBlue;
    width: 143px;
    height: 40px;
}

.plusIcon {
    background: $darkBlue;
    width: 40px;
    height: 40px;
}

.title {
    @include centerWhiteText();
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}

.stonksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.stonkItem {
    width: 311px;
    height: 175px;
    background: $lighterBlue;
    margin: 22px;
    justify-content: center;
}

.stonkTitle {
    @include centerWhiteText();
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 10px;
}

.stonkArrow {
    font-size: 35px;
    color: white;
    margin-right: 5px;
}

.flip {
    transform: scale(1, -1);
}

.stonkButton {
    @include centerWhiteText();
    font-weight: 300;
    font-size: 15px;
    line-height: 190%;
    border-radius: 20px;
    background: $darkBlue;
    width: 195px;
    height: 31px;
    margin: auto;
}

.topProducts{
    display: flex;
    flex-direction: column;
    align-items: center;

    .product1, .product2, .product3 {
        width: 311px;
        height: 175px;
        background: $lighterBlue;
        margin: 22px;
        justify-content: center;
    }

    .product2, .product3 {
        display: none;
    }

    .product1 img {
        margin: auto;
        display: block;
    }

    .product1 i {
        color: $darkBlue;
        font-size: 25px;
        position: absolute;
    }
}


.topProducts h2 {
    @include centerWhiteText();
    font-weight: 300;
    font-size: 20px;
}