$spacers:(
    0:0,
    1:0.25,
    2:0.5,
    3:1,
    4:1.5,
    5:3,
);

$sides:(
    '':'',
    't':'-top',
    'r':'-right',
    'b':'-bottom',
    'l':'-left',
);


@each $sideClass, $sideName in $sides{

    @each $count, $value in $spacers {
        .m#{$sideClass}-#{$count}{
            margin#{$sideName}: #{$value}vh;
        }
        .p#{$sideClass}-#{$count}{
            padding#{$sideName}: #{$value}vh;
        }
    }
    .m#{$sideClass}-auto{
        margin#{$sideName}: auto;
    }
    
}






*{ 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0; 
	padding: 0; 
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}